/* Global Styles */

/* ------------------------------- */

 body {
    background-color: #f8f8f8;
    padding-top: 100px;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}


/* Sidebar Menu Styles */

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

}

