html {
	min-height: 2000px;
	padding-top: 80px;
}

#login .well {
   background-color: white;
}

.thumbnail > img {
    display: block;
    height: 150px; /* add this */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}